* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.main {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #333A44;
}


.p1b1 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 100vw;
    background-color: blue;
}

.p1b2 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 100vw;
    background-color: gray;
}

.p1b3 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 100vw;
    background-color: yellow;
}

.p1b4 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 100vw;
    background-color: green;
}

